<div class="container-fluid">
    <!-- Breadcrumb -->
    <div class="page-header">
        <div class="breadcrum-title section-title">
          <h2>404 Error</h2>
          <ul class="common-breadcrum list-inline ">
            <li class="list-inline-item ">
                <a routerLink="/">Home </a>
            </li> 
            <li class="list-inline-item">404 Error</li>
          </ul>
        </div>
    </div>
    
    <div class="main-content-wrapper">
        <div class="widgets-card">
            <div class="row g-3 row-cols-1 justify-content-start align-items-center mb-3 ">
                <div class="col col-md-8 mx-auto text-center">
                    <h5>Requested Page Not Found</h5>
                    <div class="card mt-3">                       
                        <div class="card-body text-center">                                
                            <img src="https://blog.thomasnet.com/hubfs/shutterstock_774749455.jpg" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>