<div class="widgets-card">
    <div class="card">
        <div class="card-body">
            <div class="row g-3 row-cols-1 row-cols-md-2 justify-content-between align-items-center mb-3">
                <div class="col">
                    <input type="text" [(ngModel)]="countryFilter" placeholder="Filter by country" class="form-control"/>
                </div>
                <div class="col">
                    <button class="btn button--effect-2 me-3" (click)="applyFilter()">Apply Filter</button>
                    <button class="btn button--effect-1" (click)="sortChartData()">
                        Sort <i class="fa fa-sort"></i>
                    </button>
                </div>
            </div>

            <form [formGroup]="formSet" (ngSubmit)="submit()">
                <div class="row g-3 row-cols-1 row-cols-md-3 align-items-center">
                    <div class="col">                                    
                        <div class="form-floating">
                            <input type="text" class="form-control" formControlName="country"  placeholder="Enter Country Name" [ngClass]="{ 'is-invalid': submitted && f['country'].errors }">
                            <label for="country">Enter Country Name</label>
                            <div *ngIf = "submitted && f['country'].errors" class="invalid-feedback">
                                <div *ngIf="f['country'].errors['required']">This Field is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">

                        <div class="form-floating">
                            <input type="text" class="form-control" formControlName="valuenumber"  placeholder="Enter Values" [ngClass]="{ 'is-invalid': submitted && f['valuenumber'].errors }">
                            <label for="valuenumber">Enter Values</label>
                            <div *ngIf="submitted && f['valuenumber'].errors" class="invalid-feedback">
                                <div *ngIf="f['valuenumber'].errors['required']">This Field is required.</div>
                                <div *ngIf="f['valuenumber'].errors['max']">cannot be greater than 100.</div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col">
                        <button type="submit" class="btn button--effect-2 btn-md">Submit</button>
                    </div>
                </div>   
            </form>
            <figure id="bar"></figure>
         
        </div>
    </div>
</div>